.xingyue-content .xingyue-postcontent-0 .layout-item-0 { color: #242424; /*background:  url('../img/8fd0e.png') no-repeat scroll; padding: 0px; */ }
.xingyue-content .xingyue-postcontent-0 .layout-item-1 { padding: 0px;  }
.xingyue-content .xingyue-postcontent-0 .layout-item-2 { padding: 20px;  }
.ie7 .xingyue-post .xingyue-layout-cell {border:none !important; padding:0 !important; }
.ie6 .xingyue-post .xingyue-layout-cell {border:none !important; padding:0 !important; }
hr{border: none; background-color: #dedede; color: #dedede; height: 1px; margin: 20px 0;}