<%= simple_form_for(@cpanel_sub_category, :url => cpanel_sub_category_path(@cpanel_sub_category) ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
