
  <hr>
  <h3><%= @news.title %></h3>
  <p>
    <%= @news.content %>
  </p>
  <div>
    <a href="#" onclick="window.history.go(-1);return false;" class="xingyue-button">返回</a>
  </div>

<%#= link_to 'Edit', edit_news_path(@news) %>
<%#= link_to 'Back', news_index_path %>

