<div class="xingyue-content-layout-row">
  <div class="xingyue-layout-cell layout-item-2" style="width: 34%" >
    <h1 style="text-align: center;">最新动态</h1>
    <h4>本周热点</h4>
    <ul style="float: left;">
      <li>开学季民谣吉他大促销</li>
      <li>钢琴培训教程</li>
      <li>王老师谈弹唱技巧</li>
      <li>李老师载誉归来</li>
      <li>星月琴行就是好</li>
    </ul>
    <p style="float: right;">
      <img width="100" height="150" alt="" src="/img/hit1.jpg" class="">
    </p>
    <hr style="border: none; background-color: #dedede; color: #dedede; height: 1px; margin-top: 190px; margin-bottom: 20px">
    <h4>本月热点</h4>
    <ul style="float: left;">
      <li>开学季民谣吉他大促销</li>
      <li>钢琴培训教程</li>
      <li>王老师谈弹唱技巧</li>
      <li>李老师载誉归来</li>
      <li>星月琴行就是好</li>
    </ul>
    <p style="float: right;">
      <img width="100" height="150" alt="" src="/img/hit2.jpg">
    </p>
  </div>
  <div class="xingyue-layout-cell layout-item-2" style="width: 36%" >
    <h1 style="text-align: center;">星月学员</h1>
    <h4>王富贵</h4>
    <p>
      <img width="150" height="74" alt="" src="/img/album1.jpg" style="float: right; margin-left: 20px;" class="">
    </p>
    <p>坚定不移地走中国特色社会主义道路</p>
    <hr>
    <h4>手撕鬼子大侠</h4>
    <p>
      <img width="150" height="74" alt="" src="/img/album2.jpg" style="float: right; margin-left: 20px;" class="">
    </p>
    <p>《抗日奇侠》是刘仕裕执导的电视剧。以全新的视角打造抗日题材剧，并另辟蹊径首次将抗日目光聚焦在民间侠客身上，将“抗日”与“武侠”合二为一，通过六个传奇侠客的个人命运，展现整个中华民族在生死存亡之际与日寇波澜壮阔荡气回肠的斗争。</p>
    <hr>
    <h4>六指琴魔</h4>
    <p>
      <img width="150" height="74" alt="" src="/img/album3.jpg" style="float: right; margin-left: 20px;" class="">
    </p>
    <p> 这个可谓之经典，百听不厌。喜欢《卡农》，首先喜欢的是它的旋律，优美而浪漫，每次听到它的时候我总是能联想到一些很美的画面，比如两人一起看流星雨，一起坐观光大巴，一起淋雨，还有婚礼。有时想，其实婚礼上放这首曲子也很好啊！</p>
    <p><a href="#" class="xingyue-button">更多</a></p>
  </div>
  <div class="xingyue-layout-cell layout-item-2" style="width: 30%" >
    <h1 style="text-align: center;">教学安排</h1>
    <h4>2015年3月1日</h4>
    <p>寒假班结束，周末班开班，欢迎大家报名</p>
    <hr>
    <h4>2015年2月1日</h4>
    <p>寒假班名额已满，请各位学员关注寒假后的周末班。现在报名3月份周末班可以享受95折优惠</p>
    <hr>
    <h4>2015年1月3日</h4>
    <p>周末班恢复正常教学</p>
    <hr>
    <h4>2014年12月2日</h4>
    <p>周末班和寒假班日程调整。。圣诞节期间报名参加周末班可享9折优惠（仅限吉他和贝司）</p>
    <p><a href="#" class="xingyue-button">更多</a></p>
  </div>
</div>