<div class="xingyue-content-layout-row">
  <div class="xingyue-layout-cell layout-item-1" style="width: 100%" >
    
    <div style="margin-right: 27px; float: left">
      <h4 style="text-align: center;">电吉他</h4>
      <img width="100" height="100" alt="" src="/img/hmrock.png" class="">
    </div>
    <div style="margin-right: 27px; float: left">
      <h4 style="text-align: center;">民谣吉他</h4>
      <img width="100" height="100" alt="" src="/img/latin.png" class="">
    </div>
    <div style="margin-right: 27px; float: left">
      <h4 style="text-align: center;">电贝司</h4>
      <img width="100" height="100" alt="" src="/img/rb.png" class="">
    </div>
    
    <div style="margin-right: 27px; float: left">
      <h4 style="text-align: center;">管乐</h4>
      <img width="100" height="100" alt="" src="/img/jazz.png" class="">
    </div>
    <div style="margin-right: 27px; float: left">
      <h4 style="text-align: center;">民族乐器</h4>
      <img width="100" height="100" alt="" src="/img/ethno.png" class="">
    </div>
    <div style="margin-right: 27px; float: left">
      <h4 style="text-align: center;">其他门类</h4>
      <img width="100" height="100" alt="" src="/img/classic.png" class="">
    </div>
    <div style="margin-right: 27px; float: left">
      <h4 style="text-align: center;">音箱耳机</h4>
      <img width="100" height="100" alt="" src="/img/disco.png" class="">
    </div>
    <div style="margin-right: 0px; float: left">
      <h4 style="text-align: center;">其它配件</h4>
      <img width="100" height="100" alt="" src="/img/pop.png" class="">
    </div>
  </div>
</div>