<footer class="xingyue-footer">
  <div class="xingyue-footer-inner">
    <div class="xingyue-content-layout-wrapper layout-item-0">
      <div class="xingyue-content-layout">
        <div class="xingyue-content-layout-row">
          <div class="xingyue-layout-cell layout-item-1" style="width: 25%">
            <p style="font-size: 18px; color: #FFFFFF;">友情链接</p>
            <ul>
              <li><a href="#">星月琴行连山分店</a></li>
              <li><a href="#">北京xxx科技公司</a></li>
            </ul>
          </div>
          <div class="xingyue-layout-cell layout-item-1" style="width: 25%">
            <p style="font-size: 18px; color: #FFFFFF;">星月互动</p>
            <ul>
              <li><a href="#">李老师信箱</a></li>
              <li><a href="#">网站地图</a></li>
            </ul>
          </div>
          <div class="xingyue-layout-cell layout-item-1" style="width: 25%">
            <p style="font-size: 18px; color: #FFFFFF;">联系我们</p>
            <ul>
              <li><a href="#">门店位置</a></li>
              <li><a href="#">地图查找</a></li>
              <li><a href="#">联系方式</a></li>
            </ul>
          </div>
          
          <div class="xingyue-layout-cell layout-item-1" style="width: 25%">
            <p style="font-size: 18px; color: #FFFFFF;">课程师资</p>
            <ul>
              <li><a href="#">星月琴行师资</a></li>
              <li><a href="#">课程简介</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="xingyue-content-layout">
      <div class="xingyue-content-layout-row">
        <div class="xingyue-layout-cell" style="width: 100%">
          
          <p style="margin: 0px 20px; text-align: center;">版权所有© 2015 星月琴行 |
          Powered by K 'N' A</p>
        </div>
      </div>
    </div>
  </div>
</footer>