<header class="xingyue-header">
  <div class="xingyue-shapes">
    <div class="xingyue-object325548477" data-left="2.53%"></div>
  </div>
  <nav class="xingyue-nav">
    <div class="xingyue-nav-inner">
      <ul class="xingyue-hmenu">
        <li><a href="/" id='home'>星月首页</a></li>
        <li><a href="/news" id='news'>最新动态</a></li>
        <li><a href="/products" id='products' >热卖产品</a></li>
        <li><a href="/contacts" id='contacts' >门店地址</a></li>
        <li><a href="/positions" id='positions' >诚聘英才</a></li>
      </ul> 
    </div>
  </nav>
</header>
<script src="/js/addmenuclass.js"></script>