<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <%= render partial: 'common/theme/application_headmeta' %>
  </head>
  <body>
    <div id="xingyue-main">
      <%= render partial: 'common/theme/application_header' %>

      <div class="xingyue-sheet clearfix">
        <div class="xingyue-layout-wrapper">
          <div class="xingyue-content-layout">
            <div class="xingyue-content-layout-row">
              <div class="xingyue-layout-cell xingyue-content">
                <article class="xingyue-post xingyue-article">  
                  <%#= render partial: 'common/theme/yield' %>
                  <div class="xingyue-postcontent xingyue-postcontent-0 clearfix">
                    <%= yield %>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= render partial: 'common/theme/application_footer' %>
    </div><!--end of xingyue-main -->
  </body>
</html>